
<%= form_for @appointment do |f| %>
  <%= hidden_field_tag :block_appointments %>
  <div class="make_appointment_server_info alert alert-error"></div>

  <h4> Date and Time </h2>

  <div class="field">
    
    <div>
      Day: <span style="font-weight:bold;" id="block_full_date"></span>  
    </div> 

    
    <div class="bootstrap-timepicker">
      Start time: <%= f.text_field :start_time, id: 'timepicker_start', class:'input-small' %> 
    </div>

    
    <div class="bootstrap-timepicker">
      End time: <%= f.text_field :end_time, id: 'timepicker_end', class:'input-small' %> 
    </div>

    
    <div>
      Comments:
      <%= f.text_area :comment, class:'input-small', style:'width:360px; height: 90px;' %> 
    </div>

  </div>
  <div class="actions">
    <%= f.submit "Block", class: 'btn btn-success' %>
  </div>

<% end %>
